* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0.45turn, #2fabb1, #9433d3, #e13393);
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: white;
    font-size: 4em;
    font-weight: 500;
    position: absolute;
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.GIFOff {
    display: none;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    max-width: 600px;
}

.GIFw {
    display: block;
}
.GIFa {
    display: block;
}
.GIFs {
    display: block;
}
.GIFd {
    display: block;
}

/* ----------------- SVP Shapes ----------------- */

/* .svgShapes {
    position: relative;
    left: 22.2%;
    bottom: 30%;
    stroke-miterlimit: 10;
    stroke-width: 7px;
    max-width: 55px;
} */

#SVGdriehoek {
    fill: none;
    stroke:#239b47;
    stroke-miterlimit: 10;
    stroke-width: 7px;
    max-width: 55px;

    position: absolute;
    left: 22.2%;
    bottom: 53%;
}

#SVGdriehoek:hover {
    stroke:#226837;
    cursor: pointer;
}

#SVGkruis {
    fill: none;
    stroke:#2eb0cb;
    stroke-miterlimit: 10;
    stroke-width: 7px;
    max-width: 47px;

    position: absolute;
    left: 22.3%;
    bottom: 34.8%;
}

#SVGkruis {
    fill: none;
    stroke:#2eb0cb;
    stroke-miterlimit: 10;
    stroke-width: 7px;
    max-width: 47px;

    position: absolute;
    left: 22.3%;
    bottom: 34.8%;
}

#SVGvierkant {
    fill: none;
    stroke:#8e449e;
    stroke-miterlimit: 10;
    stroke-width: 7px;
    max-width: 50px;

    position: absolute;
    left: 17.2%;
    bottom: 43.6%;
}

#SVGcirkel {
    fill: none;
    stroke:#e23737;
    stroke-miterlimit: 10;
    stroke-width: 7px;
    max-width: 55px;

    position: absolute;
    left: 27.2%;
    bottom: 43.4%;
}

#SVGcirkelWit1 { /* driehoek */
    fill: #ffffff;
    stroke: none;
    stroke-miterlimit: 10;
    stroke-width: 7px;
    max-width: 92px;

    position: absolute;
    left: 21.1%;
    bottom: 50.6%;
    display: none;
}

#SVGcirkelWit2 {  /* cirkel */
    fill: #ffffff;
    stroke: none;
    stroke-miterlimit: 10;
    stroke-width: 7px;
    max-width: 92px;

    position: absolute;
    left: 26.2%;
    bottom: 41.7%;
    display: none;
}

#SVGcirkelWit3 { /* kruisje */
    fill: #ffffff;
    stroke: none;
    stroke-miterlimit: 10;
    stroke-width: 7px;
    max-width: 92px;

    position: absolute;
    left: 21.1%;
    bottom: 32.8%;
    display: none;
}

#SVGcirkelWit4 { /* vierkant */
    fill: #ffffff;
    stroke: #ffffff;
    stroke-miterlimit: 10;
    stroke-width: 7px;
    max-width: 85px;

    position: absolute;
    left: 16.2%;
    bottom: 42%;
    display: none;
}

.svgOpacityOn {
    display: block !important;
}


/* ----------------- LETTERS ----------------- */

.letterW {
    position: absolute;
    top: 45%;
    left: 17%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
    opacity: 0.5;
}

.letterA {
    position: absolute;
    top: 49.5%;
    left: 14.5%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
    opacity: 0.5;
}

.letterS {
    position: absolute;
    top: 55%;
    left: 17%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
    opacity: 0.5;
}

.letterD {
    position: absolute;
    top: 49.5%;
    left: 19.5%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
    opacity: 0.5;
}

/* .fullOpacity {
    animation: opacity 1s;
	animation-direction: alternate;
}
  
  @keyframes opacity {
	0%   	{opacity: 0.5;}
  	50%  	{opacity: 1;}
	100%   	{opacity: 0.5;}
  } */


.description {
    color: white;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.6;
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.controls {
    position: relative;
    /* text-align: center; */
    color: white;
}

.sectionBody {
    max-width: 80vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.preferences {
    max-height: 220px;
    width: 42%;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: saturate(180%) blur(5px); 
    border-radius: 40px;
    padding: 20px;
    margin: 10px;
    color: white;
    font-weight: 300;
    font-size: 1.2em;
}

.preferences a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.preferences p {
    padding: 0 20px;
}

.flagIcon {
    max-width: 9%;
    padding: 0 10px;
    opacity: 0.3;
}

.flagIcon:hover {
    opacity: 1;
    cursor: pointer;
}

.selected {
    opacity: 1;
}